@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');/* Source Serif 4 */

@font-face {
  font-family: 'Latin Modern Math';
  src: local('Latin Modern Math'), url(/fonts/latinmodern-math.woff2);
  font-weight: 400;
  font-style: normal;
}

:root {
  --header: 'Inter Tight', system-ui, sans-serif;
  --sans: 'Inter', system-ui, sans-serif;
  --mono: 'Berkeley Mono Variable', 'Berkeley Mono', 'Fira Code', monospace;
  --math: 'Latin Modern Math', math;
}