@import '/static/colors.css';
@import '/static/fonts.css';
@import '/static/themes/prism-xonokai.css';

:root {
  --corner-radius: 4px;

  code {
    font-size: 0.875rem;
    font-family: var(--mono);
  }

  pre code {
    border-radius: var(--corner-radius);
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  font-family: var(--nhg);

  body {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: var(--nhg);
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration:underline;
    }
  }

  .content {
    a:not([href^="http"]:visited) {
      color: var(--page-primary);
    }
  }

  --nhg: 'Neue Haas Grotesk Text Pro', system-ui, sans-serif;
  --mono: 'Berkeley Mono Variable', monospace;
  --ss4: 'Source Serif 4', serif;

  color: var(--text-black);
  font-size: 1rem;
}