@import '/static/colors.css';
@import '/static/fonts.css';
@import '/static/themes/prism-xonokai.css';

:root {
  --corner-radius: 4px;

  code {
    font-size: 0.875rem;
    font-family: var(--mono);
  }

  pre code {
    border-radius: var(--corner-radius);
  }

  math {
    font-family: var(--math);
  }

  font-family: var(--sans);

  body {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: var(--header);
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration:underline;
    }
  }

  .content {
    a:not([href^="http"]:visited) {
      color: var(--page-primary);
    }
  }

  color: var(--text-black);
  font-size: 1rem;
}