@import '/static/colors.css';
@import '/static/fonts.css';
@import '/static/themes/prism-xonokai.css';

:root {
  code {
    font-size: 1rem;
    font-family: 'Berkeley Mono', monospace;
  }

  font-family: 'Neue Haas Grotesk Text Pro', sans-serif;

  body {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
  }

  --nhg: 'Neue Haas Grotesk Text Pro', system-ui, sans-serif;
  --mono: 'Berkeley Mono Variable', monospace;
  --ss4: 'Source Serif 4', serif;

  color: var(--text-black);
}